.card {
  box-shadow: 10px 4px 10px rgba(28, 28, 28, 0.5);
  border-radius: 16px;
  transition: transform 0.5s;
  height: 20vh;
  width: 80vw;
  position: relative;
  overflow: hidden;
  margin: 2vh 8vw;
  float:left;
}

h4 {
  text-align: center;
  color: rgba(255, 255, 255, 0.856);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 4px 5px 5px rgba(0, 0, 0, 0.242);
  font-size: 5vw;
}

p {
  color: rgba(255, 255, 255, 0.1);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30vw;
  text-align: left;
  margin-top: -20%;

}

.card:nth-child(1) {
  background-image: linear-gradient(rgb(114, 174, 127), rgb(74, 192, 99));
}

.card:nth-child(2) {
  background-image: linear-gradient(rgb(183, 169, 89), rgb(222, 197, 58));
}

.card:nth-child(3) {
  background-image: linear-gradient(rgb(117, 168, 186), rgb(42, 180, 230));
}

.card:nth-child(4) {
  background-image: linear-gradient(rgb(177, 76, 103), rgb(218, 40, 88));
}

/* @media screen and (orientation:landscape) { 
  body::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 200vw;
      height: 200vh;
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      color: rgb(255, 255, 255);
      padding: 20px;
      content: "⟳ Rotate your screen! ⟳";
      background-color: black;
      z-index: 100;
    }
} */
