.card {
    box-shadow: 10px 4px 10px rgba(28, 28, 28, 0.5);
    display: block;
    border-radius: 10px;
    height: 30vh;
    transition: transform 0.8s;
    width: 60%;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
    margin: 2vh auto; 
  }
  
.container {
    padding: 2px 16px;
}


/* @media screen and (orientation:landscape) { 
    body::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 200vw;
        height: 200vh;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        color: rgb(255, 255, 255);
        padding: 20px;
        content: "⟳ Rotate your screen! ⟳";
        background-color: black;
        z-index: 100;
      }
} */
