.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25vw;
    display: block;
    border-radius: 10px;
    height: 60vh;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.container {
    padding: 2px 16px;
}

/* @media screen and (orientation:landscape) { 
    body::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 200vw;
        height: 200vh;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        color: rgb(255, 255, 255);
        padding: 20px;
        content: "⟳ Rotate your screen! ⟳";
        background-color: black;
        z-index: 100;
      }
} */
