h4 {
    text-align: center;
    color: white;
    font-family: 'Courier New', monospace;
    text-shadow: 4px 5px 5px #0007;
    font-size: 3vw;
}

p {
    text-align: center;
    color: beige;
    font-family: 'Courier New', monospace, bold;
    text-shadow: 4px 5px 5px #0007;
    font-size: 5vw;
}