h4 {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.856);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 5px 5px #0007;
    font-size: 5vw;
}

p {
    text-align: center;
    color: beige;
    font-family: 'Courier New', monospace, bold;
    text-shadow: 4px 5px 5px #0007;
    font-size: 20vw;
}